@font-face {
    font-family: kalameh;
    src: url('/css/fonts/kalameh.woff');
}
@font-face {
    font-family: IRANYekan;
    src: url('/css/fonts/IRANYekanMedium.ttf');
}
hr{
  margin-top: 0 !important;
}
/* width */
.gad-sec::-webkit-scrollbar {
    background: aquamarine;
    width: 10px;
  }
  
  /* Track */
  .gad-sec::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .gad-sec::-webkit-scrollbar-thumb {
    background: rgb(160, 217, 255); 
  }
  
  /* Handle on hover */
  .gad-sec::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.btn-setting{
    padding: 5px 10px;
    padding-top: 7px;
    font-size: 10px;
    margin: 0px 5px;
}
.modal-body{
  max-height: 70vh;
  overflow: auto;
}
.manage{
    border-top: 1px solid #00000070;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 58px;
    padding: 10px;
    backdrop-filter: saturate(250%) blur(10px);
    background-color: rgba(255, 255, 255, 0.77);
    webkit-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    z-index: 999999999;
}
.gad-sec{
    overflow: auto;
    animation-name: opena;
    transition: .45s ease-in-out;
    -moz-transition:  .45s ease-in-out;
    -webkit-transition:  .45s ease-in-out;
    animation-duration: 1s;
    right: 0px;
    border-left: 1px solid #00000070;
    position: fixed;
    top: 0px;
    width: 200px;
    text-align: center;
    height: calc(100% - 58px);
    padding: 10px;
    backdrop-filter: saturate(250%) blur(10px);
    background-color: rgba(255, 255, 255, 0.77);
    webkit-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    z-index: 99999999;
}
.blackloader{
  background-color: rgba(104, 104, 104, 0.774) !important;
}
.gad{
    width: 180px;
    display: inline-grid;
    border-radius: 10px;
    background-color: #ffffff99;
    padding: 15px;
    webkit-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
    box-shadow: 0px -4px 32px -5px rgba(0, 0, 0, 0.37);
}
.gad-hide{
    /* animation-name: close; */
    transition: .45s ease-in-out;
    -moz-transition:  .45s ease-in-out;
    -webkit-transition:  .45s ease-in-out;
    animation-duration: 1s;
    right: -200px;
}
@keyframes close {
    from {right: 0px;}
    to {right: -200px;}
  }
  @keyframes opena {
    from {right: -200px;}
    to {right: 0px;}
  }
.gad .btn{
    font-family: kalameh !important;
    font-weight: bold !important;
    
}
.gdg_div{
  border: 3px dashed#4646465c;
  margin: 15px 0px;
  width: auto;
}

.gdg_div:hover{
  border: 3px dashed #3dbb5f;
}
.gad img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    margin: auto;
}
@media only screen and (max-width: 767px) {
  .manage .btn{
    font-size: 13px;
  }
}