.header{
        bottom: 0;
        position: fixed;
        width: 90vw;
        z-index: 99;
        left: 0;
        border-radius: 20px;
        margin-left: 24vw;
        margin-bottom: 5px;
        overflow: hidden;
        height: 8vh;
        width: 50vw;
        border: 0.5px solid #5a5a5a38;
        -webkit-box-shadow: 0px 8px 32px -5px rgba(87,87,87,0.25);
        -moz-box-shadow: 0px 8px 32px -5px rgba(87,87,87,0.25);
        box-shadow: 0px 8px 32px -5px rgba(87, 87, 87, 0.25);
        backdrop-filter: saturate(250%) blur(10px);
		background-color: rgb(255 255 255 / 74%);
		z-index: 15;
		transition-duration: 0.5s;
    }
    /* .macheader__top {
        background: rgba(255, 255, 255, 0) !important;
        width: 100%;
        
	} */
	.fal:hover{
		font-weight: 900;
	}
    .header___data ul {
		list-style-type: none;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 35%)
	}
	.header___data{
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
		list-style-type: none;
		height: 8vh;

	}
	.product-details {
		padding-top: 50px !important;

	}
	.footer{
		padding-bottom: 12vh !important;
	}
	#macmenu-data{
		height: 27vh;
		/* padding: 0px; */
		text-align: center;
		line-height: 40px;
		list-style: none;
		overflow: auto;
	}
	#macmenu-data ul li:hover {
		background: #b2b2b21a;
	}
	.showdata{
		height: 35vh;
		transition-duration: 0.5s;
	}
	.toclose:before {
		content: "\f057" !important;
		color: #e41662;
		text-shadow: 0px 0px 5px rgb(255 17 158 / 53%);
	}
.header__top__left {
	padding: 10px 0 13px;
}


@media (max-width: 575.98px) { 
	.header {
		margin-left: 2.5vw;
		/* height: 50px; */
		width: 95vw;
	}
	.fal{
		font-size: 20px;
	}
 }
 .header___data ul li a span {
 top: -14px;
 right: -28px;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	.header {
		margin-left: 14vw;
		/* height: 50px; */
		width: 70vw;
	}
	.fal{
		font-size: 20px;
	}
	.header___data ul li a span {
		top: -14px;
		right: -28px;
	   }
	   
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
	.fal{
		font-size: 25px;
	}
	
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
	.fal{
		font-size: 25px;
	}
 }


@media (min-width: 1200px) { 
	.fal{
		font-size: 25px;
	}

 }









.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}

.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	right: -21px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 4px;
}

.header__top__right__language span {
	font-size: 14px;
	color: #1c1c1c;
	position: relative;
	top: 2px;
}

.header__top__right__language ul {
	background: #222222;
	width: 100px;
	text-align: left;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 43px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
}

.header__top__right__auth {
	display: inline-block;
}

.header__top__right__auth a {
	display: block;
	font-size: 14px;
	color: #1c1c1c;
}

.header__top__right__auth a i {
	margin-right: 6px;
}

.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 24px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #7fad39;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li.active a {
	color: #7fad39;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #7fad39;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__cart {
	text-align: center;
	/* padding: 28px 0px 5px 0px; */
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}
.fa-shopping-bag{
	color: #414952  !important;
}
.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header___data ul li a span {
	height: 17px;
    width: 17px;
    background: #ffffffd4;
    padding: 3px;
    font-size: 9px;
    color: #e41662;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -11px;
    right: -26px;
    -webkit-box-shadow: -19px 8px 99px -33px rgba(87,87,87,1);
    -moz-box-shadow: -19px 8px 99px -33px rgba(87,87,87,1);
    box-shadow: -2px 2px 6px 0px rgba(87, 87,87,0.28);
}

/* .header___data ul li a span {
height: 21px;
width: 21px;
padding: 5px;
font-size: 18px;
color: #e41662;
line-height: 13px;
text-align: center;
font-weight: 700;
display: inline-block;
border-radius: 0 50% 50% 0;
position: relative;
top: -1px;
right: -17px;
right: -36px;
} */


/* .header___data ul li a span {
    height: 21px;
    width: 21px;

    padding: 5px;
    font-size: 12px;
    color: #e41662;

    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 0 50% 50% 0;
    position: relative;
    top: -1px;
    right: -17px;
    right: -19px;

} */




.header___data a img {
margin: auto;
    float: left;
	max-height: 40px;
	max-width: 100px;
	width: auto;
	height: auto;
    position: relative;
    top: -1px;
}
.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}